{% extends 'base.html.twig' %}
{% block content %}
    <div class="container">
        <form method="Post" action="/createSubject">
            <input type="text" name="name" placeholder="Subject name"><br><br>
            <input type="submit">
        </form>
    </div>
{% endblock %}