{% extends 'base.html.twig' %}
{% block title %} Klondike {% endblock %}
{% block content %}
    <div class="klondike-container">
        <div class="product-item">
            <a href="#">
                <img src="/img/emp-photo.jpg" alt="product" class="prod-img">
            </a>
        </div>
        <div class="product-item">
            <a href="#">
                <img src="/img/emp-photo.jpg" alt="product" class="prod-img">
            </a>
        </div>
        <div class="product-item">
            <a href="#">
                <img src="/img/emp-photo.jpg" alt="product" class="prod-img">
            </a>
        </div>
        <div class="product-item">
            <a href="#">
                <img src="/img/emp-photo.jpg" alt="product" class="prod-img">
            </a>
        </div>
        <div class="product-item">
            <a href="#">
                <img src="/img/emp-photo.jpg" alt="product" class="prod-img">
            </a>
        </div>
        <div class="product-item">
            <a href="#">
                <img src="/img/emp-photo.jpg" alt="product" class="prod-img">
            </a>
        </div>
        <div class="product-item">
            <a href="#">
                <img src="/img/emp-photo.jpg" alt="product" class="prod-img">
            </a>
        </div>
        <div class="product-item">
            <a href="#">
                <img src="/img/emp-photo.jpg" alt="product" class="prod-img">
            </a>
        </div>
    </div>
{% endblock %}
