{% extends 'base.html.twig' %}

{% block title %}FansarEdu{% endblock %}


{% block content %}
    <div class="container main-container row">
        <div class="col-3 column">
            <div class="col subject">
                <a href="#" class="sub-link">
                    <div class="sub">
                        <img src="/img/physic.png" alt="Atom, physic's logo" class="sub-img">
                        <h2>Физика</h2>
                    </div>
                </a>
            </div>
        </div>
        <div class="col-9">
            <a href="/education/lesson">
                <div class="col lesson-description">
                    <h3>Headline</h3>
                    <div class="article-detail row justify-content-between">
                        <p>12.12.12</p>
                        <p>user</p>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}
