{% extends 'base.html.twig' %}
{% block title %} Post {% endblock %}
{% block content %}
    <div class="container lesson">
        <h1>Headline</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Assumenda culpa cumque eligendi eos eum expedita, fuga
            harum illum iusto laudantium libero nam, nemo nihil
            possimus repudiandae velit voluptas voluptatibus?
            Consequuntur culpa dignissimos, illo modi neque
            perspiciatis provident soluta suscipit! Eveniet, odit
            porro. Hic id modi ratione tempore ut. Blanditiis cum dolores, ea exercitationem facilis inventore maiores
            molestias
            nobis pariatur quia quisquam ratione, repudiandae sed sunt temporibus velit veritatis vero voluptatum!
            Corporis dolorem
            enim, ex fuga fugit in maxime molestiae nam necessitatibus quam quasi quibusdam quo quos ullam veniam?
            Adipisci, at
            doloremque? Animi deleniti dolorem impedit perferendis. Ad animi architecto at commodi delectus deserunt
            distinctio dolor dolore doloremque eaque enim
            fugiat hic impedit iste itaque magnam, maxime minima necessitatibus nemo, nulla odit omnis pariatur
            perferendis provident quam quidem quisquam r
            eprehenderit totam veniam veritatis vitae voluptas voluptatem voluptatum? Architecto atque cupiditate dicta
            dolores error est fuga ipsam modi
            mollitia obcaecati, odit quae qui repellendus, voluptas voluptatibus. Distinctio dolorem dolores, doloribus
            est, eveniet ipsam neque nostrum
            numquam praesentium reprehenderit saepe suscipit ut velit veniam veritatis. Corporis doloribus eaque,
            eveniet in neque soluta unde. Adipisci
            aliquam amet animi cum deleniti deserunt ducimus ex excepturi explicabo, illo illum, iusto molestias natus
            odit omnis praesentium quas quisquam
            repudiandae, saepe temporibus ullam veritatis voluptatibus. Adipisci deserunt eaque esse est eveniet illum
            itaque minima, molestias odio temporibus.
            Asperiores autem commodi consectetur consequuntur eius incidunt ipsum libero nam nostrum nulla, perferendis
            quos rem saepe sapiente, voluptate.
            Atque dicta dolor dolore nemo! Alias aliquam aliquid architecto asperiores at corporis, cumque dolorem eius
            enim error esse eveniet expedita
            explicabo facere fuga fugit hic id in ipsa laborum libero modi natus neque nesciunt, nisi nobis obcaecati
            odit officia perferendis perspiciatis
            quaerat quos repellendus voluptatibus. Architecto consequuntur corporis dignissimos error fuga maiores nam
            neque perferendis, praesentium quam
            sequi soluta voluptates! Accusamus adipisci animi delectus dolorum, ducimus excepturi facere, hic inventore
            ipsum laborum magni mollitia reprehenderit
            soluta suscipit ullam velit vero voluptates? Accusamus consequatur deleniti perferendis praesentium
            quibusdam quod! Amet delectus dolore eius laborum,
            magni quod reprehenderit suscipit temporibus. Ab accusamus accusantium ad animi aperiam asperiores assumenda
            autem commodi consequuntur corporis
            deserunt dignissimos dolorum eaque enim eum exercitationem hic illo ipsa ipsum iusto maiores modi nisi
            obcaecati optio porro quam quibusdam, quos
            recusandae rem reprehenderit, saepe sunt tempora tempore temporibus vel, veniam voluptatibus. Culpa cum ea
            eius, eos error exercitationem illum,
            in magnam maiores nisi perferendis quidem quisquam quos reiciendis repellendus temporibus, veritatis. Culpa
            molestiae non odio pariatur, quos
            repellat sunt voluptate! Architecto asperiores cumque delectus deserunt eaque enim est facilis impedit ipsa
            iste iure iusto, modi molestias
            nihil nisi non nostrum omnis quibusdam quo ratione repudiandae similique soluta sunt velit vitae? Deserunt
            dicta dignissimos incidunt iste
            neque nesciunt, odit repudiandae tenetur? Assumenda, cum dolorem ducimus est maxime nulla possimus qui sint
            unde? Aspernatur consectetur
            consequatur cumque delectus et, hic id iure laboriosam minus quam quos reiciendis, repellat tempora veniam
            voluptatibus? Asperiores aut autem
            blanditiis deleniti dolores, est in officiis ratione
            repellendus saepe tempore ut, velit vitae? Amet eaque explicabo, praesentium quae quia vero?
        </p>
        <hr>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/0v86Yk14rf8" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        <hr>
        <h2>Термины</h2>
        <div class="termins-for-add row">
            <div class="single-term col-3">
                <p>some term</p>
            </div>
            <div class="def col-7">
                <p>some def</p>
            </div>
            <div class="plus-img col-2">
                <a href="#" title="Добавление термина в словарь">
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}