{% extends 'base.html.twig' %}
{% block title %} Добавление занятия {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="/css/lesson_adding.css">
{% endblock %}
{% block content %}
    <div class="container form-container">
        <h1>Добро пожаловать, sensei!</h1><br>
        <form method="Post" action="/createLesson">
            <div class="form-group">
                <label for="sub_choice">Выберите предмет, по которому хотите составить занятие</label>
                <select class="form-control" name="sub_choice" id="sub_choice">
                    {% for subject in sub_array %}
                        <option value="{{ subject.id }}">{{ subject.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <hr>
            <div class="form-group">
                <label for="topic">Тема занятия</label>
                <input type="text" name="topic" id="topic" class="form-control" placeholder="Например, Архимедова сила.">
            </div>
            <div class="form-group">
                <label for="descript">Краткое описание темы</label>
                <textarea id="descript" name="short_description" class="form-control" placeholder="Архимедова сила - это ..."></textarea>
            </div>
            <div class="form-group">
                <label for="article">Текстовое объяснение темы</label>
                <textarea id="article" name="main_description" class="form-control" placeholder="Ваш текст"></textarea>
            </div>
            <hr>
            <div class="form-group">
                <label for="video_add">Ссылка на видеоурок</label>
                <input type="text" name="videolink" id="video_add" class="form-control" placeholder="www.ramazankruchevseh.com">
            </div>
            <hr>
            <div class="terms">
                <div class="row first-term">
                    <div class="col-3">
                        <label for="term">Термин №1</label>
                        <input type="text" name="term[]" value="" id="term" class="form-control" placeholder="Термин">
                    </div>
                    <div class="col-9">
                        <label for="definition">Определение</label>
                        <textarea id="definition" name="def[]" value="" class="form-control" placeholder="Определение"></textarea>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group">
                <button type="button" class="btn btn-to-add-more-terms btn-info">Добавить ещё</button>
            </div>
            <hr>
            <div class="quest-list">
                <div class="quest first-quest">
                    <div class="form-group">
                        <label for="add_question">Добавить задание №1 и варианты ответа</label>
                        <input type="text" id="add_question" name="quest[]" class="form-control" placeholder="1 + 1 = ?">
                    </div>
                    <div class="row answer-list">
                        <div class="col">
                            <label for="term">Вариант ответа №1</label>
                            <input type="text" name="answers0[]" class="form-control" placeholder="2">
                            <input type="radio" value="0" name="isCorrect0">
                        </div>
                        <div class="col">
                            <label for="term">Вариант ответа №2</label>
                            <input type="text" name="answers0[]" class="form-control" placeholder="3">
                            <input type="radio" value="1" name="isCorrect0">
                        </div>
                        <div class="col">
                            <label for="term">Вариант ответа №3</label>
                            <input type="text" name="answers0[]" class="form-control" placeholder="4">
                            <input type="radio" value="2" name="isCorrect0">
                        </div>
                        <div class="col">
                            <label for="term">Вариант ответа №4</label>
                            <input type="text" name="answers0[]" class="form-control" placeholder="5">
                            <input type="radio" value="3" name="isCorrect0">
                        </div>
                    </div>
                </div>
            </div>
            <br>
            <div class="form-group btn-to-add-more-quest">
                <button type="button" class="btn btn-info">Добавить ещё</button>
            </div>
            <br>
            <div class="form row justify-content-center">
                <button type="submit" class="btn btn-submit btn-primary">Добавить занятие!</button>
            </div>
        </form>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/scripts/lesson_adding.js"></script>
{% endblock %}
