{% extends 'base.html.twig' %}
{% block title %} Vocabulary {% endblock %}
{% block content %}
    <table class="table table-bordered container">
        <thead class="">
        <tr>
            <th scope="col">Термин</th>
            <th scope="col">Определение</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Lorem</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae impedit minima numquam quidem reiciendis rem.</td>
        </tr>
        <tr>
            <td>ouh</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa dignissimos dolore est laborum totam vel.</td>
        </tr>
        <tr>
            <td>flex</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab assumenda doloribus fugit mollitia natus quidem.</td>
        </tr>
        </tbody>
    </table>
{% endblock %}