<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/base.css" type="text/css">
    <script src="https://use.fontawesome.com/b1e19cdf34.js"></script></head>

<body>
<header class="container-fluid">
    <nav class="container navbar navbar-expand-lg">
        <a href="/education" class="navbar-brand"><img class="logo" src="/img/logo.png" alt="Generic placeholder image"></a>
        <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#navbarSupportContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Учёба</a>
                </li>
                <li class="nav-item">
                    <a href="/vocabulary" class="nav-link">Словарь</a>
                </li>
                <li class="nav-item">
                    <a href="/rating" class="nav-link">Рейтинг</a>
                </li>
                <li class="nav-item">
                    <a href="/klondike" class="nav-link">Клондайк</a>
                </li>
            </ul>
            <div class="lesson-adding row nav-item">
                <a href="#" class="enter nav-link">Войти</a>
                    <div class="hover_choice">
                        <div class="row student_or_teacher">
                            <a href="#" class="student">Ученик</a>
                            <a href="#" class="teacher">Учитель</a>
                        </div>
                    </div>
                <a href="/lessonAdding" class="nav-link">Добавить занятие</a>
            </div>
        </div>
    </nav>
</header>
<content>
    {% block content %}{% endblock %}
</content>
<!--<footer class="container-fluid">OttoFon 2018</footer>-->
<div class="footer"><div class="container footer-container"><span class="text">OttoFon 2018</span></div></div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
<!--<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>

