{% extends 'base.html.twig' %}

{% block title %}FansarEdu{% endblock %}


{% block content %}
    <content class="container-fluid">
        <div class="main-container row justify-content-between">
            <div class="col-3 column">
                <div class="col subject"><a href="#">Физика</a></div>
            </div>
            <div class="col-8 column justify-content-between">
                <div class="col lesson-description">1</div>
                <div class="col lesson-description">1</div>
                <div class="col lesson-description">1</div>
            </div>
        </div>
        </div>
    </content>
{% endblock %}