{% extends 'base.html.twig' %}
{% block title %} Rating {% endblock %}
{% block content %}
    <table class="table table-striped container">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Никнейм</th>
            <th scope="col">Баллы</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>улан-батор</td>
            <td>10</td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>fu4ik</td>
            <td>8</td>
        </tr>
        </tbody>
    </table>
{% endblock %}

